@import "tailwindcss";

:root {
  --background: #FAFAF7;
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #1C1A3C;
  --color-accent: #7373A8;
  --color-dark-background: #CACAD7;
  --color-background: #FAFAF7;
  --color-light-background: #FDFDFE
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

/* Headings use DM Serif Display */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-dm-serif), serif;
  font-weight: 400;
}